<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block head_content %} {% endblock %}
    </head>
    
    <body>
        <header class="header">
            <h1 class="header__logo"><a href="{{ url_for('to-do.index') }}" class="header__link">To-Do</a></h1>
            {% if "add" not in request.endpoint %}
                <a href="{{ url_for('to-do.add') }}" class="header__link">+ Add new</a>
            {% endif %}
        </header>

        <main class="main">
            <section class="dates">
                {% for date in date_range(selected_date) %}
                <a class="dates__link {{ 'dates__link--current' if date == selected_date else '' }}" href="{{ url_for('to-do.index', date=date) }}">
                    <time class="date" datetime="{{ date }}">
                        <span>{{ datetime.datetime.strptime(date, '%Y-%m-%d').strftime("%a") }}</span>
                        <span>{{ datetime.datetime.strptime(date, '%Y-%m-%d').strftime("%d") }}</span>
                        <span>{{ datetime.datetime.strptime(date, '%Y-%m-%d').strftime("%b") }}</span> <!-- Added month display -->
                    </time>
                </a>
                {% endfor %}
            </section>   
            {% block main_content %}
            {% endblock %}
        </main>
    </body>
</html>
